/*Projects, Coursework and soft skills part of the portfolio*/
.projects_page{
    background-color: rgb(230, 229, 229);
    width: 100%;
    box-shadow: 0px 5px 5px 5px rgb(230, 229, 229);
}


.project-section-row1{
    height: 750px;
    position: relative;
}

.line-drawing{
    position: absolute;
    top: 12.5%;
    left: 15%;
    width: fit-content;
    height: fit-content;
}

.project-content-text-container_top{
    width: 40%;
    height: 250px;
    position: absolute;
    top: 45%;
    left:8%;
    z-index: 2;
    background-color: rgb(230, 229, 229);
    opacity: 0;
    box-shadow: -5px 5px 20px rgb(109, 109, 109);

}

.fade-left{
    animation: fade-left 0.8s ease-in;
}

@keyframes fade-left {
    0% {
        transform: translateX(-250px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.project-picture-border{
    position: absolute;
    top: 35%;
    left: 40%;
    width: 35%;
    height: 55%;
    border: 2px solid black;
}

.project-picture-1{
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    width: 85%;
    height: 85%;
    z-index: 1;
    background-image: url("../image/project-picture2.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.project-picture-2{
    position: absolute;
    top: 12.5%;
    left: 62.5%;
    width: 30%;
    height: 55%;
    background-image: url("../image/project-picture1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.project-content-text-container_top > h1 {
    text-align: center;
    margin: 15px;
    font-family: 'Anonymous Pro';  
    font-size: x-large;
    width: 90%;
    height: fit-content;
}

.project-content-text-container_top > p{
    font-family: 'Anonymous Pro'; 
    text-align: justify;
    padding: 2.5% 5%;
    margin-top: 0%;
    font-size: 18px;
}

.project-section-row2{
    position: relative;
    height: 650px;
}

.project-content-video-container{
    position: absolute;
    top:15%;
    width: 42.5%;
    left: 10%;
    z-index: 2;
    opacity: 0;
    box-shadow: -5px 5px 25px rgb(76, 76, 76);
}

.project-video{
    position: absolute;
    top: 0;
    left: 0;
}

.project-content-text-container_mid{
    position: absolute;
    top:5%;
    left: 45%;
    width: 55%;
    height: 85%;
    background-color: gray;
}

.project-content-text-container_mid > h3{
    font-family: 'Anonymous Pro'; 
    position: absolute;

    padding-right: 7.5%;
    text-align: justify;
    font-size: 24px;
}

#h3-con{
    top: 2%;
    left: 18%;
}

#h3-sec{
    top: 21%;
    left: 18%;
}

.project-content-text-container_mid > p{
    font-family: 'Anonymous Pro'; 
    position: absolute;
    top: 20%;
    left: 20%;
    padding-right: 7.5%;
    text-align: justify;
    font-size: 18px;
}

#p-con{
    top: 10%;
    left: 20%;
}

#p-sec{
    top: 29%;
    left: 20%;
}

#h3-conc{
    top: 60.5%;
    left: 18%;
}

#p-conc{
    top: 68%;
    left: 20%;
}

.project-content-video-icon{
    width: 560px;
    height:330px;
    margin: auto;
    padding: 40px 0px;
}

/*background-color: rgb(76, 76, 76);*/
.website-footer{
    font-family: 'Anonymous Pro'; 
    
}

.footer-text{
    margin: 0%;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s alternate infinite ease-in-out;
    animation-delay: 1s;
}
  
@keyframes dash {
    from {
    stroke-dashoffset: 980;
    }
    to {
    stroke-dashoffset: 0;
    }
}
/****************************************/