/*Projects, Coursework and soft skills part of the portfolio*/
.skills-page{
    background-color: white;
    width: 100%;
    height: 1000px;
}

.skills-intro-container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-title-selection-container{
    width: 22.5%;
}

.skills-title{
    text-align: center;
    height: 60px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 50px;
}

.skills-selection-container{
    height: 40px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.46);
    border-radius: 25px;
    display: flex;
    position: relative;
}

.skills-selectioner{
    height: 100%;
    width: 40%;
    border-radius: 25px;
    text-align: center;
    line-height: 35px;
    transition: 0.25s;
}

#tecnical{
    position: absolute;
    left: 0px;
}
#soft{
    position: absolute;
    left:30%; 
}
#select3{
    position: absolute;
    right: 0px;
}

.skills-items-container{
    margin: auto;
    width: 80%;
    height: 70%;
}

.skills-items-list{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    transition: 0.3s;
    width: 85%;
    height: auto;
}

.skills-list-elem{
    height: 150px;
}




/****************************************/