.skill-container{
    width: 100%;
    height: 150px;
    background-color: rgba(26, 25, 26, 0.258);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img{
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}
