/*Projects, Coursework and soft skills part of the portfolio*/
.skills-page{
    background-color: rgba(25,25,26);
}

.skills-intro-container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.skills-title-selection-container{
    width: 25%;
    justify-content: center;
    align-items: center;
}

.skills-title{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Anonymous Pro';
    color: rgb(230, 229, 229);
}

.skills-selection-container{
    margin: auto;
    height: 50px;
    background-color: rgb(230, 229, 229);
    border-radius: 25px;
    position: relative;
    display: flex;
}

.skills-selectioner{
    height: 100%;
    width: 55%;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    transition: 0.25s;
    font-size:large;
    font-family: 'Anonymous Pro';
    transition: all 0.5s;
}
#tecnical{
    position: absolute;
    left: 0%;
}

#soft{
    position: absolute;
    left: 45%;
}

/*
#from-right{
    animation: come-from-right 0.5s ease-in;  
}

@keyframes come-from-right {
    0% {
        transform: translateX(120px);
    }
      100% {
        transform: translateX(0);
    }

}

#from-left{
    animation: come-from-left 0.5s ease-in; 
}

@keyframes come-from-left {
    0% {
        transform: translateX(-120px);
    }
    100% {
        transform: translateX(0);
    }

}*/

.skills-items-container{
    margin: auto;
    width: 80%;
}

.skills-items-list{
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    transition: 0.3s;
    width: 85%;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 0px;
}

.skills-list-elem{
    height: 150px;
}

@media screen and (max-width: 415px) {
    .skills-title-selection-container{
        width: 55%;
    }
    
}



/****************************************/