.social-network{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-item{
  padding: 10px 20px;
}

.item-link{
  height: 100px;
  width: 10px;
}

.mail-icon{
  height: 45px;
  width: 40px;
  margin: 0px 40px;
  background-image: url("../image/icon-email.png");
  background-repeat: no-repeat;
  background-size: cover;
}