/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.ag-format-container {
    padding-bottom: 40px;
}

.timeline-rowblock{
    background-color: rgb(230, 229, 229);
    height: 140px;
    display: flex;
    flex-direction: row;
}

.timeline-outerblock-left{
    background-color: rgb(180, 180, 180);
    width: 40vw;
    height: 85%;
    border-radius: 70px;
    margin-left: 17%;
    position: relative;
    opacity: 0;
    transition: all 1s;
    box-shadow: -5px 5px 20px rgb(109, 109, 109);
    
}

.timeline-innerblock-left{
    height: 70%;
    width: 15%;
    background-color: rgb(230, 229, 229);
    border: 10px solid rgba(25, 25, 26, 0.897);;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    top: 7%;
    text-align: center;
    line-height: 27px;
    font-family: 'Anonymous Pro';    
}

.timeline-outerblock-left > h3{
    padding: 0 7.5%;
    font-family: 'Anonymous Pro'; 

}

.timeline-outerblock-left > p{
    padding: 0 10%;
    width: 65%;
    font-family: 'Anonymous Pro'; 
}

.timeline-outerblock-right{
    background-color:rgb(109, 109, 109);
    width: 40vw;
    height: 85%;
    border-radius: 70px;
    margin-left: 42%;
    position: relative;
    opacity: 0;
    transition: all 1s;
    box-shadow: 5px 5px 20px rgb(109, 109, 109);
}

.timeline-outerblock-right > h3{
    padding: 0 0 0 25%;
    font-family: 'Anonymous Pro'; 
}

.timeline-outerblock-right > p{
    padding: 0 0 0 30%;
    width: 65%;
    font-family: 'Anonymous Pro'; 
}

.timeline-innerblock-right{
    height: 70%;
    width: 15%;
    background-color: rgb(230, 229, 229);
    border: 10px solid rgba(25, 25, 26, 0.897);;
    border-radius: 50%;
    position: absolute;
    left: 1.5%;
    top: 7%;
    text-align: center;
    line-height: 27px;
    font-family: 'Anonymous Pro';
}

.fade-left{
    animation: fade-left 0.5s ease-in;
    opacity: 1;
}

.fade-right{
    animation: fade-right 0.5s ease-in;
    opacity: 1;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes fade-right {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }

@media screen and (max-width: 415px) {
    .timeline-innerblock-left ,.timeline-innerblock-right{
        opacity: 0;
    }
    .timeline-outerblock-left > p, .timeline-outerblock-right > p{
        opacity: 0;
    }
    .timeline-outerblock-left > h3{
        position: relative;
        top: 9px;
        left: 20px;
        font-size:medium;
    } 

    .timeline-outerblock-right > h3{
        position: relative;
        top: 11px;
        left: -5px;
        font-size:medium;
    }
}