.ag-format-container {
    background-color:blue;
}

.timeline-rowblock{
    background-color: brown;
    height: 130px;
    display: flex;
    flex-direction: row;
}

.timeline-outerblock-left{
    background-color: aquamarine;
    width: 30%;
    height: 92.5%;
    border-radius: 70px;
    margin-left: 25%;
    position: relative;
    opacity: 0;
    transition: all 1s;
}

.timeline-innerblock-left{
    height: 90%;
    width: 30%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 68%;
    top: 5%;
}

.timeline-outerblock-right{
    background-color:chartreuse;
    width: 30%;
    height: 92.5%;
    border-radius: 70px;
    margin-left: 45%;
    position: relative;
    opacity: 0;
    transition: all 1s;
}

.timeline-innerblock-right{
    height: 90%;
    width: 30%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    top: 5%;
}

.fade-left{
    animation: fade-left 0.5s ease-in;
    opacity: 1;
} 
.fade-right{
    animation: fade-right 0.5s ease-in;
    opacity: 1;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes fade-right {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }